@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-400 antialiased;
  }
}

@layer utilities {
  .rotateX-15 {
    transform: rotateX(15deg);
  }
  .rotateX-75 {
    transform: rotateX(75deg);
  }
  .line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}
